body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

.cv-container {
    max-width: 50rem; /* 800px */
    margin: 1rem auto;
    background-color: #fff;
    padding: 2rem;
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1); /* 10px */
    display: none;
}

.cv-content {
    padding: 1.25rem; /* 20px */
}

.cv-content h1 {
    font-size: 2.25rem; /* Default 36px */
    margin-bottom: 1rem;
    transition: all 0.3s ease;
}

.cv-content section {
    margin-top: 1rem;
}

.cv-content section h2 {
    font-size: 1.5rem; /* Default 24px */
    color: #333;
    margin-bottom: 1rem;
    transition: all 0.3s ease;
}

.cv-content section p {
    font-size: 1.125rem; /* Default 18px */
    color: #666;
    line-height: 1.5;
    margin: 0.25rem 0;
}

.course-container {
    display: grid;
    grid-template-columns: 1fr 0.5fr 0.25fr; /* three columns */
    grid-gap: 0.625rem; /* 10px */
    overflow-x: auto; /* Enable horizontal scrolling */
    white-space: nowrap;
}

.course-container > div {
    display: inline-block;
    min-width: fit-content; /* Allow div to resize based on content */
}

.label {
    font-weight: bold;
    padding: 0.625rem; /* 10px */
    transition: all 0.3s ease;
}

.course,
.technologies,
.grade {
    font-size: 1rem; /* 16px */
    color: #333;
    padding: 0.625rem; /* 10px */
    border: 0.0625rem solid #ccc; /* 1px */
    transition: all 0.3s ease;
    word-wrap: break-word; /* Ensure long words wrap */
    text-align: left; /* Align text properly */
}

.grade {
    text-align: center;
}

.term1,
.term2,
.term3,
.term4 {
    display: flex; /* Enable flexible resizing */
    flex-wrap: wrap; /* Allow wrapping of content */
    justify-content: flex-start; /* Align text to the start */
    align-items: center; /* Vertically align items */
    background-color: #e0f7fa; /* Example for term1 */
    border: 0.0625rem solid #ccc; /* 1px */
    padding: 0.5rem; /* Ensure content has padding */
    min-width: fit-content; /* Adjust the width dynamically */
    box-sizing: border-box; /* Include padding in width calculations */
}

/* Adjustments for h1 and grid on smaller screens */
@media (max-width: 768px) {
    .cv-content h1 {
        font-size: 1.75rem; /* Smaller font for medium screens */
    }

    .course-container {
        grid-template-columns: 1fr 1fr 1fr; /* Keep three columns */
        overflow-x: auto; /* Allow scrolling for smaller screens */
        padding: 1rem;
    }
}

@media (max-width: 480px) {
    .cv-content h1 {
        font-size: 1.5rem; /* Smaller font for small screens */
    }

    .course-container {
        grid-template-columns: 1fr 1fr 1fr; /* Keep three columns */
        overflow-x: auto; /* Allow scrolling */
        padding: 0.5rem;
    }

    .term1,
    .term2,
    .term3,
    .term4 {
        font-size: 0.875rem; /* Slightly smaller text for small screens */
        padding: 0.5rem;
    }
}
